/*=================================================  LANDING  =============*/

.landing aside {
	background-image: url('../img/towers.jpg');
	background-size: 500px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
	position: absolute;
	top: 35px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 600px;
}
.landing p {
	text-transform: uppercase;
	top: 60px;
	margin-top: 60px;
	text-align: center;
	padding: 5%;
	word-spacing: 2px;
	letter-spacing: 3px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;

}
.landing h5 {
	font-family: 'Lora', serif;
	line-height: 0.20;
}
.communication-box h2 {
	font-size: 2em;
	font-weight: 100;
	color: #fff;
	cursor: pointer;
	background: #000;
	width: 242px;
	margin: -15px auto 0 auto;
	padding: 0 0 0 8px;
}

.scroll_down {
  box-sizing: border-box;
  width: 150px;
  height: 20px;
  padding: 5px;
  text-align: center;
  z-index: 10;
  margin: 0px auto;
  cursor: pointer;
}
.scroll_down p {
  font-family: sans-serif;
  color: white;
  z-index: 10;
}

.hello {
	background-color: #000;
	color: #fff;
	width: 100%;
	text-align: center;
	margin: 0px 0 0 0;
	padding: 20px 0 0 0;
}
.i-am-contain {
	display: block;
	margin: 0 auto;
	width: 235px;
}

.hello h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-indent: 0px;
	word-break: keep-all;
	white-space: nowrap;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}
.hello p {
	font-size: 0.85em;
}
.hello span {
	font-size: 0.6em;
	text-transform: lowercase;
}

/* ======================================  ABOUT PAGE  ===========*/

.self-contain {
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
	float: right;
	z-index: 10;
}
.self-contain img {
	display: inline;
	margin: 0 -25px;
	width: auto;
	height: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
 	-webkit-transition: -webkit-filter 600ms ease;
 	-moz-transition: -webkit-filter 600ms ease;
 	-ms-transition: -webkit-filter 600ms ease;
 	-o-transition: -webkit-filter 600ms ease;
 	transition: -webkit-filter 600ms ease;
}
.about ul hr {
	width: 60%;
	margin-left: -25px;
}

/* =================================  WORKS PAGE ==============*/

.principles  {
	width: 100%;
}
.principles ul {
	margin: 0 auto;
	width: 260px;
}

.more-info + p {
	display: none;
}
.more-info {
	text-decoration: underline;
	cursor: pointer;
}

.works p a {
	color: #000;
	text-decoration: underline;
}

.github {
	margin-top: 50px;
	width: 100%;
}
.github img, #gh-data h2 {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#gh-data {
	width: 250px;
	margin: 0 auto;
}
.repolist ul li a, #gh-data > h2 > span > a {
	color: #000;
}

/* ==================================================   CONTACT PAGE ==============*/

.contact {
	padding-top: 50px;
}
.social-icons img {
	width: 50px;
	height: auto;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}
.contact-extras {
	-webkit-transition-property: height;
	-moz-transition-property: height;
	-ms-transition-property: height;
	-o-transition-property: height;
	transition-property: height;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
	background: #000;
	color: #fff;
	width: 270px;
	height: 0;
	margin: -10px auto 10px auto;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
}
.contact-extras p {
	padding-bottom: 0;

}
.contact-extras address {
	font-size: 1.2em;
}
.arrow-down {
	-webkit-transition: top 300ms ease;
	position: absolute;
	display: inline;
	width: 30px;
	top: 80px;
	margin-left: 13px;
	width: 0; 
	height: 0; 
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid #000;
	z-index: -1;
}