
/* ========================================  HOVER and SLIDE EFFECTS ===================*/

.button-highlight {
	background: #000 !important;
	color: #fff;
	border: 1px solid #fff;
}
.nav-highlight-bg {
	background: #fff !important;
}
.nav-normal {
	color: #fff;
}
.nav-highlight {
	color: #000;
}
/*=====================================
 NAV SLIDING*/
.slideRight {
	transform: translateX(-180px);
}

.self-contain img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
.contact-slide {
	height: 110px;
}
.arrow-slide {
	top: 0;
}
.delayed {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}

/*========================  Landing Popups ======================= */

.highlight {
	background: #fff;
	padding: 12px 35px;
}
.highlight-text {
	color: #000 !important;
	font-weight: bold;
}
.popOut {
	left: 0;
}

/* ======================  PAUSED POPUP  =====================*/

.pausedPopOut {
	right: 0;
}


/*=============================  SLIDERS  ===============================*/

.slider6, .slider4 {
	overflow: hidden;
	margin: 0 auto;
}
.slider6 figure img {
	width: 16.66%;
	float: left;
}
.slider6 figure {
  position: relative;
  width: 600%;
  max-height: 400px;
  overflow: hidden;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: slidy6 25s infinite alternate;
  -webkit-filter: grayscale(50%);
  cursor: pointer;
}

.paused {
	-webkit-filter: grayscale(0%) !important;
	animation-play-state: paused !important;
}

.slider4 figure img {
	width: 25%;
	float: left;
}
.slider4 figure {
	position: relative;
	width: 400%;
	height: auto;
	overflow: hidden;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: slidy4 18s infinite alternate;
	-webkit-filter: grayscale(50%);
  	cursor: pointer;
}

@keyframes slidy6 {
	0% { left: 0%; }
	13% { left: 0%; }
	16% { left: -100%; }
	29% { left: -100%; }
	32% { left: -200%; }
	45% { left: -200%; }
	48% { left: -300%; }
	61% { left: -300%; }
	64% { left: -400%; }
	77% { left: -400%; }
	80% { left: -500%; }
	100% { left: -500%; }
}

@keyframes slidy4 {
	0% { left: 0%; }
	22% { left: 0%; }
	25% { left: -100%; }
	47% { left: -100%; }
	50% { left: -200%; }
	72% { left: -200%; }
	75% { left: -300%; }
	100% { left: -300%; }
}

/*==============================  MEDIA RULES ++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 480px) {
	.content {
		width: 450px;
	}
	.landing aside {
		background-size: 1000px;
		background-position: 0 -120px;
	}
	.landing p {
		padding: 5px;
		width: 65%;
		margin: 15% auto 10% auto;
	}
	.i-am-contain {
		font-size: 1.2em;
	}
	.popup-wrapper {
		font-size: 1.5em;
	}
	.head-img {
		height: 200px;
	}
	.head-img-wrapper h2 {
		font-size: 2em;
	}
	.principles {
		width: 300px;
		margin: 0 auto;
	}
	.works p {
		padding: 0 5%;
	}
	.slider6 {
		width: 500px;

	}
	.slider4 {
		width: 500px;
		/*margin-left: -3%;*/
	}
	.slider6 figure img {
		width: 14.66%;
		padding: 0 1% 0 1%;
/*		float: left;*/
	}
	.slider4 figure img {
		width: 23%;
		padding: 0 1% 0 1%;
/*		float: left;*/
	}

	.self-contain {
		margin: 10px;
	}
	.about hr {
		width: 70%;
		margin: 10px auto;
	}
	.about ul {
		width: 40%;
		margin: 10px auto 30px auto;
	}
	.about p {
		padding: 10px 8% 10px 8%;
	}
}

@media only screen and (min-width : 768px) {  /*===================================*/

	.content {
		width: 720px;
		padding: 0 50px;
	}
	h3 {
		font-size: 1.6em;
	}
	h4, h5 {
		font-size: 1.3em;
	}
	section p {
		font-size: 1.1em;
	}
	input {
		height: 35px;
		width: 350px;
		font-size: 1.5em;
	}
	textarea {
		width: 350px;
		max-width: 350px;
		height: 60px;
		max-height: 200px;
		font-size: 1.5em;
	}
	.landing aside {
		background-position: 0 0;
		background-size: cover;
	}
	.landing p {
		font-size: 1.3em;
	}
	.communication-box h2 {
		font-size: 3em;
		background: #000;
		width: 360px;
	}
	.hello {
		padding: 100px 0 0 0;
	}
	.i-am-contain {
		display: inline;
		width: 90%;
		font-size: 1.2em;
		margin: 0 auto;
	}
	.hello h2 {
		display: inline;
		text-align: center;
		word-spacing: 3px;
	}
	.contact-button {
		font-size: 1.4em;
		width: 161px;
   		height: 62px;
	}
	.popup-wrapper {
		font-size: 1.7em;
	}
	.highlight {
	padding: 12px 60px;
	}

	.works p {
		padding: 0 15%;
	}

	.slider4 {
		/*width: 800px;*/
	}
	.self-contain {
		width: 230px;
		height: 230px;
	}
	.about p {
		width: 55%;
		float: left;
		padding: 5px 5px 5px 5px;
	}
	.about ul, .about h4 {
		width: 29%;
		float: right;
	}
	.about ul {
		font-size: 1.5em;
	}
	.map {
		display: block;
	}
	footer {
		clear: both;
	}
}

@media only screen and (min-width : 1000px) {  /*===================================*/

	.landing aside {
		background-position: 0 -45px;
	}
	.landing p {
		padding: 5px;
		width: 50%;
		margin: 15% auto 10% auto;
	}
	.i-am-contain {
		font-size: 1.5em;
	}

	/*==================== WORKS ==============*/

	.head-img {
		height: 250px;
	}
	.works-wrapper {
		width: 85%;
		height: 180%;
	}
	.works-flex-left {
		width: 65%;
		float: left;
	}
	.works-flex-right {
		width: 30%;
		float: right;
	}

	.principles {
		width: 100%;
	}
	.works {

	}

	.github {


	}
	.slider6 figure img {

	}

/* =======================*/

}