
/* ========================================  HOVER and SLIDE EFFECTS ===================*/

.button-highlight {
	background: #fff !important;
	color: #000;
}
.nav-normal {
	color: #fff;
}
.nav-highlight {
	color: #000;
}
/*=====================================
 NAV SLIDING*/
.slideRight {
	transform: translateX(-130px);
}

.self-contain img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}
.contact-slide {
	height: 110px;
}
.arrow-slide {
	top: 100px;
}
.delayed {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}

/*=============================  SLIDERS  ===============================*/

.slider6, .slider4 {
	overflow: hidden;
	margin: 0 auto;
}
.slider6 figure img {
	width: 16.66%;
	float: left;
}
.slider6 figure {
  position: relative;
  width: 600%;
  max-height: 500px;
  overflow: hidden;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy6 infinite;
}

.slider6 figure:hover, .slider4 figure:hover {
	animation-play-state:paused;
}

.slider4 figure img {
	width: 25%;
	float: left;
}
.slider4 figure {
	position: relative;
	width: 400%;
	height: auto;
	overflow: hidden;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 18s slidy4 infinite;
}

@keyframes slidy6 {
	0% { left: 0%; }
	13% { left: 0%; }
	16% { left: -100%; }
	29% { left: -100%; }
	32% { left: -200%; }
	45% { left: -200%; }
	48% { left: -300%; }
	61% { left: -300%; }
	64% { left: -400%; }
	77% { left: -400%; }
	80% { left: -500%; }
	100% { left: -500%; }
}

@keyframes slidy4 {
	0% { left: 0%; }
	22% { left: 0%; }
	25% { left: -100%; }
	47% { left: -100%; }
	50% { left: -200%; }
	72% { left: -200%; }
	75% { left: -300%; }
	100% { left: -300%; }
}

/*==============================  MEDIA RULES ++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 480px) {
	.content, .content-works {
		width: 450px;
	}
	.landing aside {
		background-size: 150%;
	}
	.landing p {
		padding: 20%;
	}
	.principles {
		width: 65%;
		margin: 0 auto;
	}
	.slider6 {
		width: 500px;
	}
	.slider4 {
		width: 500px;
	}
	.slider6 figure img {
		width: 14.66%;
		padding: 0 1% 0 1%;
/*		float: left;*/
	}
	.slider4 figure img {
		width: 23%;
		padding: 0 1% 0 1%;
/*		float: left;*/
	}

	.self-contain {
		margin: 10px;
	}
	.about hr {
		width: 70%;
		margin: 10px auto;
	}
	.about ul {
		width: 40%;
		margin: 10px auto 30px auto;
	}
	.about p {
		padding: 10px 8% 10px 8%;
	}
}

@media only screen and (min-width : 768px) {  /*===================================*/

	.content {
		width: 780px;
	}
	.content-works {
		width: 80%;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.3em;
	}
	section p {
		font-size: 1.1em;
	}



	.slider4 {
		/*width: 800px;*/
	}
	.self-contain {
		width: 230px;
		height: 230px;
	}
	.about p {
		width: 55%;
		float: left;
		padding: 5px 5px 5px 5px;
	}
	.about ul, .about h4 {
		width: 25%;
		float: right;
	}
	.about ul {
		font-size: 1.5em;
	}
	.contact input {
		margin: 20px auto 20px auto;
	}
	.map {
		display: block;
	}
	footer {
		clear: both;
	}
}

@media only screen and (min-width : 1000px) {  /*===================================*/

	/*==================== WORKS ==============*/
	.principles ul {
		font-size: 1.1em;
	}
	.principles {
		width: 40%;
		float: right;
	}
	.works {
		width: 51%;
		float: left;
	}
	.github {
		width: 40%;
		float: right;
		margin-top: -320px;
	}
	.slider6 figure img {

	}

/* =======================*/

}